@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Black Han Sans', sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.container {
  height: 101vh;
  color: white;
}

.top-middle-menu {
  height: 75%;
  width: 100%;
  background-color: #BD06DD;
  align-items: center;
}

.bottom-menu {
  height: 25%;
  width: 100%;
  background-color: #2D2D2D;
}

.cards{
  display: flex;
  flex-direction: row;
  padding: 0 4vw 0 4vw;
  height: 100%;
  justify-content: space-between;
}

.card {
  font-family: 'Montserrat';
  width: 30%; 
  background-color: #909090;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  text-align: center;
  padding: 0 3vw 0 3vw;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  user-select: none;
  cursor: pointer;
}

.card:hover{
  background-color: #F58E07;
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); 
  filter: brightness(1.03);
}

.header {
  height: 18%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  width: 20%;
  align-items: center;
  justify-content: center;
  margin-left: 3%;
}

.logo img{
  width: 3vw;
  height: 4vw;
}

.logo h4{
  margin-top: 14%;
  margin-left: 3%;
  font-size: 2vw;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  margin-right: 8vw;
  font-size: 1.8vw;
  font-family: 'Montserrat', sans-serif;
}

.navbar a:hover {
  border-bottom: solid #F58E07 3.5px;
}

.content{
  width: 40%;
  height: 77%;
  align-items: center;
  margin-left: 6%;
}

.slogan {
  color: white;
  font-size: 7vh;
  font-family: 'Black Han Sans';
  position: relative;
  left: 100%;
  opacity: 0;
  animation: slideAndFade 2s ease-out forwards;
}

@keyframes slideAndFade {
  0% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

.buttons{
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat';
  width: 75%;
  height: fit-content;
  justify-content: space-between;
}

.login-button {
  display: flex;
  justify-content: center;
  background-color: #F58E07;
  border-radius: 15px;
  padding: 1vw;
  width: 40%;
  height: fit-content;
  font-size: 1.7vw;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.login-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3); 
  filter: brightness(1.03);
}

.cadastro-button{
  display: flex;
  justify-content: center;
  color: #F58E07;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 1vw;
  width: 40%;
  height: fit-content;
  font-size: 1.7vw;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.cadastro-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(245, 142, 7, 0.2);
  filter: brightness(1.03);
}

.cadastro-button-active {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(245, 142, 7, 0.2);
  filter: brightness(1.03);
}

.floating-menu {
  filter: brightness(1.03);
  position: fixed; 
  width: 92%;
  height: 60%;
  top: 44.4%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F58E07;
  padding: 10px;
  display: none;
  z-index: 1000;
  font-family: "Montserrat";
}

.exit-icon {
  font-size: 2vw;
  color: black;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}


